@import "tailwindcss";

@theme inline {
  --color-bb: #15202a;
  --color-w: #faf7f2;
  --color-g: #ccc;
}

@layer utilities {
  .button {
    @apply rounded-[10px] border-2 font-medium p-2 cursor-pointer select-none
  }

  .input {
    @apply w-full border border-g rounded-sm outline-none p-2
  }

  .pointer {
    @apply cursor-pointer
  }

  .r {
    @apply bg-red-300
  }
}
